<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="35px">
  <h3>{{'comment-page.delimiter' | translate}}</h3>
  <mat-radio-group [(ngModel)]="exportType">
    <div fxLayout="column">
      <mat-radio-button value="comma" checked><h4>{{'comment-page.comma' | translate}}</h4></mat-radio-button>
      <mat-radio-button value="semicolon"><h4>{{'comment-page.semicolon' | translate}}</h4></mat-radio-button>
    </div>
  </mat-radio-group>
</div>
<app-dialog-action-buttons
  buttonsLabelSection="comment-page"
  confirmButtonLabel="export"
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
  [confirmButtonClickAction]="buildExportActionCallback()"
></app-dialog-action-buttons>
