:host{
  &-icon{
    font-family:'Material Icons', serif;
    font-weight:normal;
    font-style:normal;
    font-size:18px;
    line-height:18px;
    padding:0;
    margin:0;
    color:var(--ars-header-color);
  }
  p,h1,h2,h3,h4,h5{
    font-family:Roboto, 'sans-serif';
    padding:0;
    margin:0;
    color:var(--ars-header-color);
  }
  .comment-outer{
    border-bottom:solid 1px var(--ars-border-color);
    >:first-child{
      padding-top:8px;
    }
    >:last-child{
      padding-bottom:8px;
    }
  }
  .comment-foc{
    box-shadow:inset 0px 0px 0px 1px var(--ars-border-color-focus);
  }
  .comment-unfoc{
    box-shadow:inset 0 0 0 0;
  }
  .comment-btn{
    *{
      color:var(--ars-button-color-light);
    }
  }
  .comment-notification{
    font-size:12px;
    text-transform:uppercase;
    letter-spacing:2px;
    line-height:18px;
    font-weight:600;
    color: #cc4244;
  }
}
