mat-form-field {
  color: var(--on-surface);
}

.mat-flat-button {
  color: var(--on-primary);
  background-color: var(--primary);
}

input {
  caret-color: var(--on-surface);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -10000px;
}
