app-room-list {
  width: 100%;
  max-width: 800px;
}

.mat-raised-button {
  background-color: var(--primary);
  color: var(--on-primary);
}

app-join-room {
  max-width: 800px;
}

.outer{
  width:100%;
  background-color: var(--surface);
  color: var(--on-surface);
}

.cardFooter{
  margin-top:25px;
  margin-bottom:25px;
}
