<div fxLayout="column" class="textfields">
  <p>{{ 'password-reset.forgot-password' | translate }}</p>
</div>

<form (ngSubmit)="resetPassword(email.value)" fxLayout="column" fxLayoutAlign="space-around"
      fxLayoutGap="10px">
  <mat-form-field class="input-block">
    <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
           matInput type="email" #email placeholder="{{ 'password-reset.email' | translate }}"
           [formControl]="usernameFormControl" aria-labelledby="password-reset-description"
           [errorStateMatcher]="matcher" name="email"/>
    <mat-error *ngIf="usernameFormControl.hasError('email') && !usernameFormControl.hasError('required')">
      {{ 'password-reset.email-invalid' | translate }}
    </mat-error>
  </mat-form-field>
  <button (click)="buildCloseDialogActionCallback()" mat-flat-button type="submit">
    {{ 'password-reset.reset-password' | translate }}
  </button>
</form>

<mat-divider></mat-divider>

<div fxLayout="column" class="textfields">
  <p>{{ 'password-reset.set-new-password' | translate }}</p>
</div>

<form (ngSubmit)="resetPassword(email.value)" fxLayout="column" fxLayoutAlign="space-around"
      fxLayoutGap="10px">
  <mat-form-field class="input-block">
    <input matInput type="email" #email2 placeholder="{{ 'password-reset.email' | translate }}" [formControl]="usernameFormControl"
           [errorStateMatcher]="matcher" name="email"/>
    <mat-error *ngIf="usernameFormControl.hasError('email') && !usernameFormControl.hasError('required')">
      {{ 'password-reset.email-invalid' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="input-block">
    <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
           matInput type="password" #password1 placeholder="{{ 'register.password' | translate }}"
           [formControl]="password1FormControl" [errorStateMatcher]="matcher">
    <mat-error *ngIf="password1FormControl.hasError('required')">
      {{ 'register.password-required' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input-block">
    <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
           matInput type="password" #password2 placeholder="{{ 'register.password-verify' | translate}}"
           [formControl]="password2FormControl" [errorStateMatcher]="matcher">
    <mat-error *ngIf="password2FormControl.hasError('required')">
      {{ 'register.password-required' | translate }}
    </mat-error>
    <mat-error *ngIf="password2FormControl.hasError('passwordIsEqual') && !password2FormControl.hasError('required')">
      {{ 'register.password-unmatch' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="input-block">
    <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
           matInput type="password" #key placeholder="{{ 'register.password-verify' | translate}}"
           [formControl]="password2FormControl" [errorStateMatcher]="matcher">
    <mat-error *ngIf="password2FormControl.hasError('required')">
      {{ 'register.password-required' | translate }}
    </mat-error>
    <mat-error *ngIf="password2FormControl.hasError('passwordIsEqual') && !password2FormControl.hasError('required')">
      {{ 'register.password-unmatch' | translate }}
    </mat-error>
  </mat-form-field>
  <button (click)="setNewPassword(email2.value, key.value, password1.value)" mat-flat-button type="button">
    {{ 'password-reset.set-new-password-button' | translate }}
  </button>
</form>

<app-dialog-action-buttons
  buttonsLabelSection="password-reset"
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
></app-dialog-action-buttons>

<div class="visually-hidden">
  <div id="password-reset-description">{{ 'password-reset.email-description' | translate }}</div>
</div>
