.actions {
  justify-content: flex-end;
}

.cancel-button {
  margin-right: .5em;
  color: var(--on-surface);
}

.mat-flat-button {
  background-color: var(--primary);
  color: var(--on-primary);
}

input {
  color: var(--on-surface);
}

.placeholder {
  color: var(--on-surface);
}

.mat-form-field-label {
  color: var(--on-surface)!important;
}

.mat-form-field-underline {
  background-color: var(--on-surface)!important;
}

.mat-form-field-ripple {
  background-color: var(--on-surface)!important;
}

mat-form-field {
  color: var(--on-surface);
}

.count {
  color: var(--on-surface)!important;
}

.error {
  color: var(--red) !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -10000px;
}
