<footer>
  <mat-toolbar id="footer-toolbar">

    <!-- MOST LEFT BUTTON -->

    <!-- HELP WHEN URL /user -->
    <button mat-button (click)="navToBlog()" *ngIf="router.url !== '/home'">
      <mat-icon>help_outline</mat-icon>
      <span *ngIf="deviceType === 'desktop'">
        {{ 'footer.help' | translate }}
      </span>
    </button>

    <!-- DEMO WHEN URL /home -->
    <button mat-button (click)="showDemo()" *ngIf="router.url === '/home'">
      <mat-icon>ondemand_video</mat-icon>
      <span *ngIf="deviceType === 'desktop'">
        {{ 'footer.demo' | translate }}
      </span>
    </button>

    <!-- STYLE PALETTE -->

    <span class="fill-remaining-space"></span>
    <button mat-button [matMenuTriggerFor]="themeMenu">
      <mat-icon>palette</mat-icon>
      <span *ngIf="deviceType === 'desktop'">
          {{'footer.style' | translate}}
        </span>
    </button>

    <!-- LANGUAGE -->

    <span class="fill-remaining-space"></span>
    <button mat-button [matMenuTriggerFor]="langMenu">
      <mat-icon>language</mat-icon>
      <span *ngIf="deviceType === 'desktop'">
          {{'footer.language' | translate}}
        </span>
    </button>

    <!-- DSVGO -->

    <span class="fill-remaining-space"></span>
    <button mat-button (click)="navToDSGVO()">
      <mat-icon>security</mat-icon>
      <span *ngIf="deviceType === 'desktop'">
        {{ 'footer.dsgvo' | translate}}
      </span>
    </button>

    <!-- IMPRINT -->

    <span class="fill-remaining-space"></span>
    <button mat-button (click)="navToImprint()">
      <mat-icon>info</mat-icon>
      <span *ngIf="deviceType === 'desktop'">
        {{ 'footer.imprint' | translate}}
      </span>
    </button>

    <!-- STYLE PALETTE - POPUP -->

    <mat-menu class="color-menu" #themeMenu="matMenu" [overlapTrigger]="false">
      <mat-grid-list cols="2">
        <mat-grid-tile *ngFor="let theme of themes">
          <button mat-icon-button class="color-button" [ngStyle]="{'color':theme.previewColor}" (click)="changeTheme(theme)">
            <mat-icon class="color-icon" matTooltip="{{theme.name}}">lens</mat-icon>
            <mat-icon *ngIf="themeClass === theme.name" class="check">check_circle</mat-icon>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-menu>

    <!-- LANGUAGE - POPUP -->

    <mat-menu #langMenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item (click)="useLanguage('de')">{{ 'footer.german' | translate }}</button>
      <button mat-menu-item (click)="useLanguage('en')">{{ 'footer.english' | translate }}</button>
    </mat-menu>

  </mat-toolbar>
</footer>
